@import "./varibles.scss";
@import "./iconfont/iconfont.css";
body,
html {
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
}

.vdm-flex {
  display: flex;
  > div {
    flex: 1;
  }
}
.vdm-in-range {
  background-color: #f2f6fc;
  &.vdm-range-start,
  &.vdm-range-end {
    width: 50%;
    span {
      text-align: center;
    }
  }
  &.vdm-range-start {
    float: right;
    text-align: left;
    border-top-left-radius: $day-height/2;
    border-bottom-left-radius: $day-height/2;
  }
  &.vdm-range-end {
    text-align: right;
    float: left;
    border-top-right-radius: $day-height/2;
    border-bottom-right-radius: $day-height/2;
  }
}

.base-cal {
  user-select: none;
  color: #606266;
  font-size: 17px;
  padding: 5px 10px;
  background-color: #fff;
  .mr {
    margin-right: 20px;
  }
  .iconfont {
    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
  .cal-header {
    height: 40px;
    line-height: 40px;
    div {
      font-weight: 500;
      &:first-child,
      &:last-child {
        flex: 0 0 100px;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
.day,
.ym {
  font-size: 15px;
  padding: 5px 0;
  outline: none;
  box-sizing: border-box;
  &:active {
    color: $primary-color;
  }
  &.cur {
    color: $primary-color;
    font-weight: 700;
  }
  span {
    box-sizing: border-box;
    display: inline-block;
  }
  &.selected {
    color: #fff;
    span {
      border-radius: 50%;
      background-color: $primary-color;
    }
  }
  &.gray {
    color: #c0c4cc;
  }
}
.ymr-cont {
  $width: 50px;
  .cal-header {
    border-bottom: 1px solid $border-color;
  }
  .vdm-flex {
    flex-wrap: wrap;
  }
  .ym {
    width: 25%;
    flex: 0 0 auto;
    padding: 10px 0;
    text-align: center;
    span {
      line-height: 30px;
      width: $width;
    }
    &.selected {
      span {
        border-radius: 15px;
      }
    }
  }
  .vdm-range-start {
    span {
      margin-left: -$width/2;
    }
  }
  .vdm-range-end {
    span {
      margin-right: -$width/2;
    }
  }
}
